{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}

    <div id="particles-js">
        <div class="aRow1">
            <div id="c1" class="columnAbout1">
                <h1  class="aboutSG">About SG</h1>
                <p>Setup Garage is web-platform for uploading and downloading car setups for the sim-racing title
                 Asetto Corsa Competizione. It's target audience is sim-racing enthusiasts and  
                 people who want to learn more about race craft, car-mechanics and car setups. Check our Guides page
                 where you can learn more about it!</p>
            </div>
            <div id="c2" class="columnAbout2">
                <img src="/static/img/about/sg.gif"/>
            </div>
        </div>
        
        <div class="aRow2">
            <div id="c1" class="columnAbout3">
                <img src="/static/img/about/me5.jpg"/>
            </div>
            <div id="c2" class="columnAbout4">
                <h1  class="aboutME">About Me</h1>
                <p>I have been passonate about Tech and Racing since my earliest memories. 
                This led me to study "Computing" in Edinburgh Napier University. 
                 As far as racing goes it is expensive and time consuming sport, especially for a student abroad, so this is where
                Sim-racing came as a safer and more-affordable alternative. The blend of these two passions resulted 
                in this small project fully developed by me. </p>
            </div>
        </div>
    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    {% endblock %}