{% extends 'base.html' %}

{% block title %} Setups {% endblock %}


{% block content %}

    <!--Text and Animated Button Landing Screen -->
    <div class="bg-setupsDb">


            <div class="downloadTable" id="downloadTable">
                <table class="table table-striped table-dark " id="table">
                    <thead>
                        <tr>
                            <th scope="col">Author</th>
                            <th scope="col">Track Temp</th>
                            <th scope="col">Car</th>
                            <th scope="col">Track</th>
                            <th scope="col" style="width: 40%;">Notes</th>

                            <th scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                       

		{% for item in items %}
	<!--	{% if item.car=="amrV8" %} -->
	<!--	{% endif %} -->
			    	<!--	for ilustration  -->

                        <tr>
                            <th scope="row">{{item.username}}</th>
                            <td>{{item.trackTemp}}</td>
                            <td>{{item.car}}</td>
							<td>{{item.track}}</td>
                            <td>{{item.setupNotes}}</td>
                            <td> <a href={{ url_for ('download', id=item.id)}}>Download</a> </td>

                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
              

    </div>


{% endblock %}







	
