{% extends 'base.html' %}
{% block title %} Setup Guides {% endblock %}
{% block content %}

  <div class="bigwpr">
    <h1 class="guidesHeading">Setup Guides</h1>
    <div class="guides_wrapper">
      <h2 class="guidesSub">First Things First</h2>
      <img src="/static/img/guides/underoversteer.jpg">
        <div class="rowText">
          <div class="columnText">
            <h3 class="text">Understeer</h3>
            Overly simplified - turning too little. This is when the front does not have enough grip, the
            tires start skidding and the
            car is
            simply not turning or turning far less than anticipated. This results in overheating the tires,
            missing the
            apex, or crashing. Normally, a car that tends to understeer is easier to drive for a
            beginner, but slower in a hands of experienced driver, as the understeer cannot be fixed with
            driving techniques.
            Front Engine cars tend to be more understeery.
            <br><b>Understeer Example:</b> Imagine turning the wheel of the car on ice without pressing the
            gas or brake. The car
            just
            continues straight, without changing its direction. This is what understeer feels like.

          </div>
          <div class="columnText">
            <h3 class="text">Oversteer</h3>
            Overly simplified - turning too much. Oversteer is when the front has grip
            but
            the
            rear
            loses
            traction on turning. The car is responsive, it turns, but it turns too much and you can easily
            lose
            control.
            Usually, oversteer cars are harder to drive for beginners. In oversttery car/setup can be
            faster on
            track than an understeery one for an experienced driver, as oversteer can be corrected with
            driving
            techniques, but understeer cannot. Usually, rear-wheel-drive cars oversteer on acceleration out
            of
            the
            corner.

            <br><b>Oversteer Example:</b>

            Imagine a drift car, it is set up to oversteer, when turning it turns so sharply that the rear
            end kicks
            out and the front tires have enough grip to control the direction of the drift.

          </div>
    </div>

    <img src="/static/img/guides/corner-phases3.jpg">
    <h2 class="guidesSub">Corner Phases</h2>
    <p class="text">
      <b>Braking:</b> <br> Pretty self-explanatory. Slowing down before the corner.
      For beginners having a stable and predictable car during the braking phase is really important as
      this helps
      place the car on the right position and prepare for the corner entry
      <br>Choose a breaking point, with the same car on the same conditions try to brake at the exact same
      spot
      each time.
      This would help you significantly in nailing the entry speed of the corner which is critical for
      getting
      faster.
      <br>Common beginner's mistake is heavy braking and turning at the same time.

      <br><br> <b> Corner Entry: </b> <br> At the beginning of the corner, at that stage, you should
      slowly come
      off the brakes and start gradually turning.
      At this stage oversteer is a common issue as all the weight of the car is transferred at the front
      of the
      car and the front tires are close to their limit of traction and the backend of the car is light and
      playful.
      With a bit too much speed you can end up understeering and missing the apex or oversteering and
      crashing
      into the wall.
      The oversteer, understeer depends on the car setup, the driving technique, and the elevation of the
      corner
      etc.
      Aim for a controlled corner entry. Everything depends on the car's position and the entry speed.
      The general rule is slow in fast out, which does not apply 100% of the situations but is overall
      faster
      technique.
      Most of the mistakes are choosing the correct speed for corner entry, but with good braking point as
      soon
      you start coming of the brakes you can turn and every time you would carry the same speed in the
      corner
      entry.

      <br><br><b>Mid Corner (apex):</b>
      <br>At this point you should be off the brakes. At this stage you are doing most of the turning and
      the
      car’s weight is distributed more evenly between the front and the back end.
      The general rule is in mid-corner not to break or touch the gas. Having a good setup would provide
      you with
      enough grip and stability to start pressing the throttle slightly approaching the corner exit,
      but this heavily depends on the car and the corner configuration.

      <br><br> <b>Exit:</b>
      <br>At this stage you should start decreasing the steering angle and applying throttle in syncron.
      Too much
      throttle and you will unsettle the car,
      understeer out of the grass or oversteer into the wall, too little and you will lose valuable lap
      time. The
      key is finding the perfect balance and timing.
      In general, it is wise to focus your driving on the corner exits.
      <br>The corner exit is the key to faster lap times as slow speed in the corner but solid,
      faster exit is giving you an advantage for the whole straight until the next corner as your car
      started
      accelerating before anyone else.
    </p>


    <h3 class="text">Camber and Toe</h3>
    <img src="/static/img/guides/camber and toe.jpg">
    <p>
      <br>Toe influences 3 main things<br>
      Tyre Wear, Straight Line Stability, and Cornering.
      Regarding GT3 cars the usual setup is the negative toe on the front wheels and the negative
      toe on the rear wheels. Positive toe increase straight-line stability,
      negative toe improves turn-in response. High toe angle can result in rapid tyre wear and drag.

      <br>Camber<br>
      Camber influences tire wear, cornering ability, and straight-line speed. When cornering the car
      rolls sideways which results in changing of the angle of the tires touching the asphalt.
      The camber is used to counter that. The idea is to have a maximum surface area of the tire
      in the corner and less surface area on the straights. That gives less drag on the straights
      and more grip in the corners. A good camber setup would result in almost even temperatures
      of Inside and outside of the tire surface area. You can see that in the Tyre section in
      ACC near IMO.
    </p>
    <h3 class="text">Rake</h3>
    <img src="/static/img/guides/rake.jpg">
    <p>
      Rake is the angle between the back and the front of the car. More rake means higher back-end and lower front end.
      A neutral rake is even front and back.
      The rake plays a big role in how the car behaves. More rake - more oversteer, less rake - more understeer.
      Rake changes the aero-balance of the car too.
    </p>

    <h2 class="text">Setup Helper</h2>
    <h3 class="text">Choose your problem:</h3>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Understeer </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="rowText3">
              <div class="columnText3">
                <h4>Corner Entry:</h4>
                <ul>
                  <li>Lower (softer) Front Anti-Roll Bar</li>
                  <li>Increase front toe-out (more negative value)</li>
                  <li>Softer Front Springs</li>
                  <li>Stiffen the front Bump Damper
                  </li>
                </ul>
              </div>
              <div class="columnText3">
                <h4>Mid Corner:</h4>
                <ul>
                  <li>Lower (softer) Front Anti-Roll Bar </li>
                  <li> Higher (stiffer) Rear Anti Roll Bar</li>
                  <li>Softer Front Springs</li>
                  <li>Lower Front ride height</li>
                  <li> Higher Rear Ride height </li>
                </ul>
              </div>
              <div class="columnText3">
                <h4>Corner Exit:</h4>
                <ul>
                  <li>Higher (stiffer) Rear Anti Roll Bar</li>
                  <li>Stiffer Rear Springs</li>
                  <li>More Differencial Preload</li>
                  <li>Shorter Rear Bump Stop </li>
                  <li> Stiffer Rear Bump Stop</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Oversteer
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="rowText3">
              <div class="columnText3">
                <h4>Corner Entry:</h4>
                <ul>
                  <li>Higher Wing Angle</li>
                  <li>Higher (stiffer) Front Anti-Roll Bar</li>
                  <li>Stiffer front springs</li>
                  <li>Stiffer rear Rebound Damper
                  </li>
                </ul>
              </div>
              <div class="columnText3">
                <h4>Mid Corner:</h4>
                <ul>
                  <li>Softer Rear Springs </li>
                  <li> Stiffer Front Springs </li>
                  <li>Softer Rear Anti-Roll</li>
                </ul>
              </div>
              <div class="columnText3">
                <h4>Corner Exit:</h4>
                <ul>
                  <li>Decrease Rear Ride Height</li>
                  <li>Softer Rear Anti-Roll</li>
                  <li>Softer Rear Springs</li>
                  <li>Less Differencial Preload</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Other Cases
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="rowText3">

              <div class="columnText3">
                <h4>Unstable during braking:</h4>
                <ul>
                  <li>Move the brake bis forward (higher number) </li>
                  <li> Stiffen the front wheel rate (only if the first does not help)</li>
                  <li>Decrease Differential Preload</li>
                </ul>
              </div>
              <div class="columnText3">
                <h4>Entry understeer Mid/Exit Oversteer:</h4>
                <ul>
                  <li>Stiffen the Anti Roll Bars</li>
                  <li>Stiffer Rear Springs</li>
                </ul>
              </div>

              <div class="columnText3">
                <h4>General Damper Settings</h4>
                <ul>
                  <li>Advasiable to use MOTEC</li>
                  <li>The bump should be lower than the rebound</li>
                  <li>Rebound rate 1 to 1.5x compression rate</li>
                  <li>F/R damper rate ratio should equal the spring rate ratio</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}